<?php

namespace {{ bundle.namespace }}\Form\{{ entity.name_with_namespace }};

{% block use_statements %}
use {{ request.namespace }}\{{ entity.name }}CreateRequest;
use SimpleSymfony\Symfony\RestBundle\Form\AbstractFormType;
use Symfony\Component\Form\FormBuilderInterface;
{% endblock use_statements %}

/**
{% block phpdoc_class_header %}
 * Class {{ entity.name }}CreateType
{% endblock phpdoc_class_header %}
 */
{% block class_definition %}
class {{ entity.name }}CreateType extends AbstractFormType
{% endblock class_definition %}
{
{% block class_body %}
    use {{ entity.name }}AllTypeTrait {
        {{ entity.name }}AllTypeTrait::buildForm as private buildFormTrait{{ entity.name }}AllType;
    }

    const DATA_CLASS = {{ entity.name }}CreateRequest::class;

    /**
     * @param FormBuilderInterface $builder
     * @param array $options
     */
    public function buildForm(FormBuilderInterface $builder, array $options)
    {
        $this->buildFormTrait{{ entity.name }}AllType($builder, $options);
        $this->registerPreSubmitEventListener($builder);
    }
{% endblock class_body %}
}
