<?php

namespace {{ bundle.namespace }}\Model\Request\{{ entity.name_with_namespace }};

{% block use_statements %}
use SimpleSymfony\Symfony\RestBundle\Request\ListRequestInterface;
use SimpleSymfony\Symfony\RestBundle\Request\ListRequestTrait;
use SimpleSymfony\Symfony\RestBundle\Request\AbstractRequest;
{% endblock use_statements %}

/**
{% block phpdoc_class_header %}
 * Class {{ entity.name }}ListRequest
{% endblock phpdoc_class_header %}
 */
{% block class_definition %}
class {{ entity.name }}ListRequest extends AbstractRequest implements ListRequestInterface
{% endblock class_definition %}
{
{% block class_body %}
    use ListRequestTrait;
{% endblock class_body %}
}
